<ul class="nav nav-pills flex-column">

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/manager/manager-dashboard']"><i class="fas fa-leaf"></i> Dashboard</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/manager/add-coupon']"><i class="fas fa-tag"></i> Add Coupon</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/manager/account-settings']"><i class="fas fa-cog"></i> Account Settings</a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/manager/give-rewards']"><i class="fas fa-gift"></i> Give Rewards</a>
  </li>

</ul>