
.nav .nav-item .nav-link {
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    min-width: 100px;
    color:black;
    transition: all .3s;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: baseline;
    border-radius: 4px;
}
.nav .nav-item.active {
    color: #fff;
    background-color: #1d6ac8;
    background-image: -moz-linear-gradient(#45b3f3, #1d6ac8);
    background-image: -webkit-linear-gradient(#45b3f3, #1d6ac8);
    border-color: #1d6ac8 #1d6ac8 #1a5eb2;
    border-radius: 6px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(82, 129, 230, 0.6); 

    /* Green Gradient*/
    /* background: #56ab2f;  
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  
    background: linear-gradient(to right, #a8e063, #56ab2f);  */


    
    
} 
.btn-primary{color:#fff;background-color:#1d6ac8;background-image:-moz-linear-gradient(#45b3f3, #1d6ac8);background-image:-webkit-linear-gradient(#45b3f3, #1d6ac8);border-color:#1d6ac8 #1d6ac8 #1a5eb2}
.btn-primary:active{border-color:#17529b}.btn-success{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#95da7d;background-image:-moz-linear-gradient(#8add6d, #60b044);background-image:-webkit-linear-gradient(#a6ca99, #78ac65);border-color:#74bb5a #74bb5a #509338}

