<div class="container" >
  <div class="row" id="registrationComponent">
    <div class="col-md-8" id="leftregistration">
      <h2 class="pt-3"> Collect Plastic Waste and Get Rewards</h2>
      <div class="pt-5">

        <div id="icon-container">
          <i class='fa fa-recycle fa-4x'></i>
          <span id="text"><h5> Collect Recycable waste</h5></span>
        </div><br>

        <div id="icon-container">
            <i class='fas fa-coins fa-4x'></i>
          <span id="text"><h5> Earn Points/Coins</h5></span>
        </div><br>

        <div id="icon-container">
            <i class="fas fa-gifts fa-4x"></i>
          <span id="text"><h5> Use Points/Coins to get Promo-Code, Discount</h5></span>
        </div><br>


      </div>
    </div>
    <div class="col-md-4 pt-3">
      <div class="card-body shadow p-3 mb-5 rounded">
          <h3 class="card-title text-left">Become a Rescuer</h3>

          <form #registerForm="ngForm" (ngSubmit)="register()">
              <div class="form-group">
                  <label for="name"><i class="fa fa-user"></i> Full Name</label>
                  <input type="name" class="form-control" id="name" required name="fullname" [(ngModel)]="model.fullname" placeholder="ABC Hossain">
              </div>

              <div class="form-group">
                <label for="username"><i class="fa fa-user"></i> User Name</label>
                <input type="username" class="form-control" id="username" required name="username" [(ngModel)]="model.username" placeholder="amin">
              </div>
  
              <div class="form-group">
                    <label for="email"><i class="fa fa-at"></i> Email address</label>
                    <input type="email" class="form-control" id="email" required name="email" [(ngModel)]="model.email" placeholder="name@example.com">
              </div>
              <!-- <div class="form-group">
                <label for="usertype">I am a</label>
                <select class="form-control" id="usertype" required name="usertype" [(ngModel)]="model.usertype">
                  <option [value]="null" selected>Select Role</option>
                  <option *ngFor="let role of roles" [value]="role.name">{{role.name}}</option>
                </select>
              </div> -->

              <div class="form-group">
                  <label for="password"><i class="fa fa-at"></i> Enter Password</label>
                  <input type="password" class="form-control"  id="password" required name="password" [(ngModel)]="model.password" >
              </div>

              <!--Re Enter Password-->
              <!-- <div class="form-group">
                  <label for="password"><i class="fa fa-at"></i> Confirm Password</label>
                  <input type="password" class="form-control" id="repassword" required name="repassword" [(ngModel)]="model.repassword" >
              </div> -->

              <button class="btn btn-primary">Sign up</button>
          </form>
      </div>
    </div>
  </div>
</div>
