<div class="container">
  <div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4">
      <div class="card-body" id="registerForm">
          <h3 class="card-title text-left">Become a Rescuer</h3>
          <form>
              <div class="form-group">
                  <label for="name"><i class="fa fa-user"></i> Full Name</label>
                  <input type="name" class="form-control" id="name" placeholder="ABC Hossain">
              </div>
  
              <div class="form-group">
                    <label for="email"><i class="fa fa-at"></i> Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
