
<ul class="nav nav-pills flex-column" id="tenant">

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/rescuer/dashboard']"><i class="fas fa-leaf"></i> Dashboard</a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/rescuer/marketplace']"><i class="fas fa-shopping-bag"></i> Marketplace</a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/rescuer/rescuer-account-settings']"><i class="fas fa-history"></i> Rescue History</a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/rescuer/account-settings']"><i class="fas fa-cog"></i> Account Settings</a>
    </li>

</ul>


