/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css'; 
@import '../node_modules/alertifyjs/build/css/alertify.min.css'; 
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css'; 

/* RescueWaste-SPA\node_modules/alertifyjs/build/css/alertify.min.css */
/* RescueWaste-SPA\node_modules/alertifyjs/build/css/themes/bootstrap.min.css */

.btn-success {
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    color: #fff;
   
}
.btn {
    border: 1px solid rgba(27,31,35,.2);
}
.btn-primary{color:#fff;background-color:#1d6ac8;background-image:-moz-linear-gradient(#45b3f3, #1d6ac8);background-image:-webkit-linear-gradient(#45b3f3, #1d6ac8);border-color:#1d6ac8 #1d6ac8 #1a5eb2}
.btn-primary:active{border-color:#17529b}