.card {
    position: relative;
    top: 0;
    transition: top ease 0.2s;
}
.card:hover {
    top: -10px;
    border-top: 2px solid green;
}
.card-img-wrapper {
    overflow: hidden;
    position: relative;
}
.coupon-icons {
    position: absolute;
    bottom: -30%;
    left:0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}
.card-img-wrapper:hover .coupon-icons {
    bottom: 0;
    opacity: 1;
}